 * {
       margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Centers the card vertically on the screen */
    margin: 0;
    background-color: #FFFFFF; /* Light gray background */
    font-family: sans-serif;
    padding: 20px;
}
.author-info {
        font-size: 14px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        color: #D2D5DA;
      }

.author-info a {
        text-decoration: none;
      }

.blog-card {
    background-color: #fff;
    max-width: 368px;
    width: 100%;
    border-radius: 15px; /* Rounded corners for the card */
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);/* Soft shadow effect */
    overflow: hidden; /* Ensures image corners are rounded by parent */
    transition: transform 0.3s ease;
}

.blog-card:hover {
    transform: translateY(-5px); /* Simple hover effect */
}

.blog-image {
    width: 100%;
    height: 180px;
    padding: 16px 16px 0px 16px;
    border-radius: 25px;
   
}

.blog-content {
    padding: 20px;
}

.blog-tag {
    display: inline-block;
    background-color: #E5EAF0; /* Light blue-gray background */
    color: #333;
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #7C19EE;
}

.blog-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin: 0 0 10px 0;
}

.blog-description {
    font-size: 0.9em;
    color: #666;
    line-height: 1.4;
    margin: 0 0 20px 0;
}

.blog-author {
    font-size: 0.8em;
    color: #333;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 5px;
}
hr{
    color: 394150;
}
